.asig{
    text-align: center;
    padding: 6px;
}
.asig-logo{
    height: 40vmin;
    pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
    .asig-logo {
      animation: Asignar-logo-spin infinite 20s linear;
    }
  }
  
  .asig-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .asig-link {
    color: #61dafb;
  }
  
  @keyframes asig-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .inputBuscar{
    width: 50% !important;
  }
  
  table{
    min-width: 500px;
  }
  
  .containerInput{
    align-items: end;
    right: 0;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 25px;
  }
  
  @media (max-width: 988px){
    
    .inputBuscar{
      width: 100% !important;
    }
  
    .asig{
      padding: 40px 5px;
    }
  
    
  .containerInput{
    padding-bottom: 15px;
  }
  
  }